@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #0d1a2d;
  font-family: "Gothic A1", sans-serif;
  max-height: 100vh;
}

.container {
  display: flex;
  margin: 10% auto 20px;
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  height: 600px;
  border-radius: 25px;
  flex-direction: column;
  box-shadow: 0 40px 0 15px #0c1729, 0 50px 0 40px #0c192c;
}

.container__items {
  margin: 25px auto;
}

.text__title {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  width: max-content;
  transition: 0.5s;
}

.text__title:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
.main__image {
  height: 300px;
  border-radius: 25px;
  transition: 0.5s;
}

.text__paragraph {
  width: 100%;
  position: relative;
}

.text__paragraph p {
  width: 300px;
  color: hsl(215, 51%, 70%);
  position: relative;
  font-size: 18px;
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.text__left__right {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.text__left__right div:first-child span {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  vertical-align: top;
}

.text__left__right div:last-child span {
  color: hsl(215, 51%, 70%);
}

.image__avatar {
  height: 30px;
  align-self: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.avatar__creation {
  display: flex;
}

.avatar__creation p {
  vertical-align: middle;
  margin-left: 10px;
  color: hsl(215, 51%, 70%);
}
.hover__image {
  position: absolute;
  background-color: hsl(178, 100%, 50%);
  height: 300px;
  width: 300px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.hover__image img {
  height: 70px;
}

.hover__image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.name__jules {
  color: #fff;
  transition: 0.5s;
}

.name__jules:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
